.custom-button {
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  height: 36px;
  outline: none;
}

.custom-button:hover {
  box-shadow: 0px 0px 5px #9b9ba2;
}

.btn-success {
  background-color: #2196f3;
}

.btn-warning {
  background-color: #ff9800;
}

.btn-danger {
  background-color: #f44336;
}
